In [1]:
#import library
import pandas as pd

In [2]:
#load Data
df = pd.read_csv('data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta.csv')
df

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202311,2023-11-21,DKI3 Jagakarsa,50,73,55,12,25,13,73,PM25,SEDANG
1,202311,2023-11-22,DKI3 Jagakarsa,44,63,55,13,32,10,63,PM25,SEDANG
2,202311,2023-11-23,DKI3 Jagakarsa,51,82,56,14,31,16,82,PM25,SEDANG
3,202311,2023-11-01,DKI1 Bunderan HI,61,86,42,8,38,41,86,PM25,SEDANG
4,202311,2023-11-02,DKI1 Bunderan HI,58,84,42,6,35,38,84,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...,...
1820,202212,2022-12-29,DKI2 Kelapa Gading,23,23,57,12,16,15,57,SO2,SEDANG
1821,202212,2022-12-30,DKI2 Kelapa Gading,40,55,57,21,17,24,57,SO2,SEDANG
1822,202212,2022-12-31,DKI2 Kelapa Gading,47,58,56,21,23,24,58,PM25,SEDANG
1823,202212,2022-12-01,DKI3 Jagakarsa,53,81,42,9,24,12,81,PM25,SEDANG
1824,202212,2022-12-02,DKI3 Jagakarsa,55,92,43,11,24,13,92,PM25,SEDANG

In [3]:
#drop column yang tidak dibutuhkan
df = df.drop(['periode_data', 'stasiun','parameter_pencemar_kritis','max'], axis = 1)
df.head()

,tanggal,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,kategori
0,2023-11-21,50,73,55,12,25,13,SEDANG
1,2023-11-22,44,63,55,13,32,10,SEDANG
2,2023-11-23,51,82,56,14,31,16,SEDANG
3,2023-11-01,61,86,42,8,38,41,SEDANG
4,2023-11-02,58,84,42,6,35,38,SEDANG

In [4]:
#drop baris yang tidak dibutuhkan
df = df[df['kategori'] != 'TIDAK ADA DATA']

In [5]:
#cek data null
df.isnull().any()
df = df.dropna()

In [6]:
columns_to_clean = ['pm_sepuluh', 'pm_duakomalima', 'sulfur_dioksida', 'karbon_monoksida', 'ozon', 'nitrogen_dioksida','kategori']
df[columns_to_clean] = df[columns_to_clean].replace(['-', '---'], 0)

In [7]:
df = df.astype({'pm_sepuluh' : 'int','pm_duakomalima' : 'int','sulfur_dioksida' : 'int','karbon_monoksida' : 'int','ozon' : 'int','nitrogen_dioksida' : 'int'})

In [8]:
df['tanggal'] = pd.to_datetime(df["tanggal"])
df.dtypes

tanggal              datetime64[ns]
pm_sepuluh                    int32
pm_duakomalima                int32
sulfur_dioksida               int32
karbon_monoksida              int32
ozon                          int32
nitrogen_dioksida             int32
kategori                     object
dtype: object

In [9]:
df = df.sort_values(by="tanggal", ascending=True, ignore_index=True)

In [10]:
# Temukan nilai rata-rata pada setiap kolom numerik
numerical_columns = df.select_dtypes(include=['int']).columns
mean_values = df[numerical_columns].mean()

# Ganti nilai 0 dengan nilai rata-rata pada setiap kolom
df[numerical_columns] = df[numerical_columns].replace(0, mean_values)
df[numerical_columns] = df[numerical_columns].round(0).astype(int)

In [11]:
#save data
df.to_csv("Data Pencemaran Udara Jakarta Cleaned.csv", index=False)